body, main, #maze {
  width: 100vw;
}

.row {
  display: flex;
}

.wall, .spot, .start, .finish-place {
  width: 16px;
  height: 16px;
}

.wall {
  background: red;
}

.spot {
  background: white;
}

.start {
  background: blue;
}

.finish-place {
  background: yellow;
}

.player {
  width: 16px;
  height: 16px;
  top: 165px;
  left: 0px;
  position: absolute;
  background: green;
}
